.mainCourseContainers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 5fr)) !important;
    gap: 2rem;
}

#CourseCard,
#CourseCard1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2rem;
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    #CourseCard,
    #CourseCard1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 1rem;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    #CourseCard,
    #CourseCard1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 1rem;
    }


}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    #CourseCard,
    #CourseCard1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 1rem;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (max-width: 1200px) {
    .courseMainContainer {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 2rem !important;
    }
} */